.content {
  height: auto;
  width: 100%;
}

.intro {
  width: auto;
  height: 60px;
  margin-left: 10rem;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  flex-direction: row;
  width: 100%;
  gap: 2rem 3rem;
  padding: 10px;
  justify-content: center;
}
