.wrapper {
  display: flex;
  height: 240px;
  width: 90%;
  background-color: white;
}

.wrapper img {
  background-color: beige;
  width: 260px;
  height: 180px;
  margin: 20px;
  border-radius: 10px;
}

.container {
  margin: 10px;
  padding: 10px;
}
.location {
  font-size: 13px;
  color: gray;
  margin: 5px;
}

.room-title {
  margin: 3px;
  font-size: 16px;
}
.people-facility {
  font-size: 13px;
  color: gray;
}

.review-star {
  color: red;
  margin-top: 2px;
  margin-right: 6px;
}

.review-rating {
  margin: 3px;
  font-size: 16px;
}

.review-counting {
  margin: 3px;
  font-size: 14px;
  color: gray;
}

.wish {
  margin: 30px;
  width: 25px;
  height: 25px;
  background-color: white;
}

.wish:hover {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(10deg);
}

.wish:active {
  color: red;
}
