.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.search {
  height: 30px;
  font-size: 20px;
  margin-top: 1rem;
  width: auto;
  border: 1px solid rgba(218, 218, 218, 0.541);
}

.nav {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  height: 3rem;
  margin-top: 1rem;
  gap: 1rem 1rem;
  justify-content: space-between;
}
