.wrapper {
  position: fixed;
  top: 11rem;
  width: 300px;
  right: 30%;
  background-color: white;
  z-index: 30;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 60px;
  margin: 5px;
  padding: 24px;
}

.wrapper hr {
  width: 90%;
}
