.wrapper {
  overflow-y: scroll;
  height: 700px;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper section {
  padding: 2px;
  margin: 5px;
}

.container {
  text-align: center;
  margin: 10px;
}

.map {
  width: 80%;
  height: 400px;
  display: inline-block;
  border: 1px solid black;
}
