.local {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2px;
  height: 120px;
}

.image {
  background-color: royalblue;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

.list {
  font-size: 20px;
  width: 200px;
  margin: 5px;
  padding: 5px;
}

.list span {
  font-weight: bold;
  font-size: 20px;
}
